doctype html
html
    head
        title=title
    body
        h1 Hej
        ul
            each val, index in list
                if val.firstname
                    li= index + ' ' + val.firstname